<footer class="footer font-small cyan darken-3 ">

  <div class="container bg-dark col-12 ">

    <!-- Grid row-->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-12 py-5 ">
        <div class=" mb-5 offset-3 offset-md-5">

          <!-- Facebook -->
          <a class="fb-ic ml-4 ml-md-1  text-success" href="https://www.facebook.com/palomapitaya/">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Instagram-->
          <a class="ins-ic text-success" href="https://www.instagram.com/palomapitaya/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--YouTube-->
          <a class="ins-ic text-success" href="https://www.youtube.com/channel/UCX_wV1BLPLPudvdsMfQ5BYw">
            <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>

        </div>
      </div>
    </div>
  </div>


</footer>
<!-- Footer -->
