<div>
  <br>
  <br>
  <h2>Contatos</h2>
  <br>
  <br>
  <a class="fb-ic" >

    <i class="fas fa-at fa-lg "><b> palomavrossatto@gmail.com </b></i>
  </a>


  <br>
  <br>
      <!-- Facebook -->
      <a class="fb-ic" >
        <i class="fab fa-facebook-f fa-lg "><b> facebook.com/palomapitaya/</b></i>
      </a>
  <br>
  <br>

      <!--Instagram-->
      <a class="ins-ic" >
        <i class="fab fa-instagram fa-lg "><b> instagram.com/palomapitaya/</b></i>
      </a>
  <br>
  <br>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

