
.bg {
 /* background-image: url("../../../assets/img/bg_desk.jpeg");
  */

  background-image: url("http://localhost:5000/image/bg_desk.jpeg");
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 100%;
  padding-top: 65%;
}
@media screen and (max-width: 576px) {

  .bg {
    background-image: url("http://localhost:5000/image/back.jpeg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100%;
    padding-top: 205%;
  }

}






