.bg {
  background-image: url("../../../assets/img/back.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100%;
  padding-top: 205%;
}
