<div #port class="conteudo"  >
  <br>
  <br>
  <button class="btn btn-success" (click)="switchBio('ing', 'port')"> Ingles</button>
  <button class="btn btn-success" (click)="switchBio('esp', 'port')"> Espanhol </button>
  <!--<a routerLink="/pages/bioIng" class="btn btn-success">Inglês</a>
  <a routerLink="/pages/bioEsp" class="btn btn-success">Espanhol</a>
  -->
  <br>
  <br>
  <br>
  <p class="col-12"> {{bioDto.port}}  </p>

  <br>
  <br>
</div>
<div #esp class="conteudo" hidden >
  <br>
  <br>
  <button class="btn btn-success" (click)="switchBio('ing', 'esp')"> Ingles</button>
  <button class="btn btn-success" (click)="switchBio('port', 'esp')"> Português </button>
  <br>
  <br>
  <br>
  <p class="col-12"> {{bioDto.esp}}  </p>

  <br>
  <br>
</div>
<div #ing class="conteudo" hidden >
  <br>
  <br>
  <button class="btn btn-success" (click)="switchBio('esp', 'ing')"> Espanhol </button>
  <button class="btn btn-success" (click)="switchBio('port', 'ing')"> Português </button>
  <br>
  <br>
  <br>
  <p class="col-12"> {{bioDto.ing}}  </p>

  <br>
  <br>
</div>





